.*.sw?
*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
libunittest-*.tar.gz
src/libunittest.la

# tests
tests/*.trs
tests/*.log
tests/test_assertions
tests/test_suite

# docs
docs/_build/
!docs/Makefile
docs/Doxyfile
docs/doxygen_sqlite3.db
docs/examples/fail
docs/examples/failfast
docs/examples/firstfail
docs/examples/helloworld
docs/html/
docs/xml/

# autotools
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
